body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
}

.localtime {
    position: relative;
    top: 70px;
    left: 0px;
    width: 200px;
    height: 20px;
    color: #000;
    text-align: center;
}

h1 {

    text-align: center;
}

.input-section {
    display: flex;
    justify-content: space-between;
}

#new-task {
    width: 70%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-task {
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.weather {
    display: flexbox;
    width: 270px;
    height: 25px;
    border: #28a745;
}

#task-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.task-deadline {
    display: block;
    font-size: 0.9em;
    color: #888;
    margin-top: 5px;
}

.datechoose {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 0 1px;
    font-size: 16px;
    color: #333;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 3px;
}

.task-item.completed {
    text-decoration: line-through;
    color: #888;
}

.task-item.high {
    border-left: 4px solid red;
}

.task-item.medium {
    border-left: 4px solid orange;
}

.task-item.low {
    border-left: 4px solid green;
}


.checkbox {
    margin-right: 10px;
}

.delete-task {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 3px;
}

#task-stats {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

#task-stats p {
    margin: 5px 0;
}
